In [1]:
import pandas as pd
import glob

In [2]:
df_mergeall = pd.read_csv('dataset/fakeDatabase_all.csv')
df_mergeall

            id          client_name        date date_register      value
0         4935       Joseph Kennedy  2022-02-20    2019-05-06  38.235971
1         8790       Kaitlin Rivera  2022-03-01    2019-04-08  81.064145
2         8067         Robin Cooper  2022-01-21    2022-02-24  70.124324
3         6997  Christopher Summers  2022-01-15    2021-08-23  78.179993
4         7023    Colleen Hernandez  2022-03-06    2019-06-14  14.145921
...        ...                  ...         ...           ...        ...
10099995  9938        Juan Martinez  2022-03-20    2021-04-01  30.280489
10099996  1134       Suzanne Romero  2022-03-27    2022-01-14  90.839451
10099997  6288       Bradley Wagner  2022-03-22    2020-01-09  29.865724
10099998  7188        Carolyn Wolfe  2022-03-28    2021-02-10  65.973682
10099999  9905      Dr. Scott Ponce  2022-03-01    2019-04-12  72.693461

[10100000 rows x 5 columns]

In [3]:
df = pd.read_feather('dataset/fakeDatabase.ftr')
df.shape

(10100000, 6)