<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="left"></a>
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

In [1]:
# imports

import pandas                  as pd
import numpy                   as np
import matplotlib.pyplot       as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

# acrescente seus imports aqui

<h1 align=left><font size = 6, style="color:rgb(200,0,0)">Lab Kmeans </font></h1>
<hr>

##Caso: **Segmentando Clientes de um Mall**

Aqui você encontrará dados de 200 clientes de uma loja de Shopping com dados de idade, renda, sexo e score de gastos na loja. Você seguimentará esses clientes tentando obter e caracterizar grupos distintos de clientes para poder tomar decisões sobre como atuar sobre esses grupos (campanhas, ofertas de produtos etc.).

In [2]:
# Seu código
df1=pd.read_csv('http://meusite.mackenzie.br/rogerio/TIC/Mall_Customers.csv')
df1.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## Exercício. Explore os dados

Note que existe um atributo nos dados que não faz sentido ser incluído no modelo. Exclua esse atributo. Chame a nova base de dados de `df`

In [3]:
# Seu código

## Exercício. Definindo a entrada `X`

As entradas `X` do `kmeans` precisam ser numéricas pois ele emprega a média das distâncias dos elementos. Converta o atributo `Gender` numérico, com 'Male' = 1 e 'Female' = 0.

In [4]:
# Seu código

In [5]:
# seu código

## Exercício. Normalize os dados `Scaling`

O `kmeans` emprega distâncias e, portanto, é sensível à escala dos dados. Normalize os dados de `X` com o método `StandardScaler()` ou a função `scale( )` (solução mais simples)\*.

In [6]:
# Seu código
from sklearn.preprocessing import scale

Ótimo, seus dados agora devem aparecer todos com média 0 e desvio padrão 1.

## Exercício. Determine o número *ideal* de Clusters

O método da inércia ou regra do cotovelo, permite determinar o melhor número de cluster. Determine o número de cluster executando o código apresentado na teoria. Ele não precisa ser modificado se os dados de entradas estão corretamente em `X`.

\*nota: existem outras métricas e critérios para decidir o número de Clusters, por exemplo, o `Silhouette`. Para os nossos propósitos, entretanto, será suficiente empregarmos a regra do cotovelo com base na inércia dos grupos.

In [7]:
# Seu código
# Dados

## Exercício. Declarando o modelo

Vamos segmentar nossos clientes em 3 grupos (na dúvida usar 3). Não deixe de empregar o `random_state= 123` na função `KMeans` para obter as mesmas respostas.

In [8]:
# Seu código

## Exercício. Identificando na base de dados os grupos

Adicione uma nova coluna ao dataframe (nome: `cluster`) atribuindo os grupos `labels` obtidos acima para facilitar a identificação do grupo de cada cliente.

In [9]:
# seu código aqui

### A quais grupos pertencem os clientes de ID 8 e 11?

In [10]:
# seu código aqui

## Exercício. Caracterizando os grupos

O que exatamente representam esses grupos de clientes numerados 0, 1 e 2? Quais são as distinções que podem ser identificadas entre eles?

Uma maneira de abordar essa questão é examinar as médias dos valores associados a cada grupo e identificar as características que diferenciam um cliente médio de um grupo dos outros.

Empregue o modelo da teoria para exibir as médias dos valores de cada grupo e tente identificar que grupos de clientes estão sendo formados.

In [11]:
# Seu código

#### Utilizando os grupos

* Cenário **A**. A loja, em uma campanha de marketing, quer então presentear aluguns clientes com algo score com produtos para cabelos brancos. Para qual grupo/grupos ela deveria enviar os produtos?

* Cenário **B**. Ela ainda quer fazer uma oferta de produtos de celulares modernos e de luxo. Para qual grupo/grupos ela deveria ofertar esses produtos para maximizar sua chance de vendas?