In [1]:
import pandas as pd
import os

In [2]:
# data in dictionary
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [6]:
#load data into a DataFrame object:
df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
df.to_csv("output.csv", index=False)

# Let's check if exist the csv file in the folder:
os.system("ls -la")

total 20
drwxrwxr-x 2 andsilva andsilva 4096 jan  5 12:07 .
drwxrwxr-x 5 andsilva andsilva 4096 jan  5 12:02 ..
-rw-rw-r-- 1 andsilva andsilva 2825 jan  5 12:07 firstprogramm.ipynb
-rw-rw-r-- 1 andsilva andsilva  162 jan  5 12:04 firstprogramm.py
-rw-rw-r-- 1 andsilva andsilva   39 jan  5 12:09 output.csv

0

In [10]:
df = pd.read_csv('output.csv')
df

   calories  duration
0       420        50
1       380        40
2       390        45